/* box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* document */

html {
	font-size: 16px;
}

@media (min-width: 40rem) {
	html {
		font-size: 18px;
	}
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	max-width: 60em;
	margin-bottom: 1rem;
}

/* base elements */
small {
	font-size: 0.8rem;
}

/* custom article */
article {
	font-size: 1rem;
}
article a {
	text-decoration: none;
}

list-org-repos main {
	display: flex;
	flex-wrap: wrap;
}
list-org-repos a {
	display: flex;
	padding: 0.3rem;
}
